<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Test-db" connectionString="Data Source=WINSTATION;Initial Catalog=i-imail-tests.db;Integrated Security=True"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMailService" />
                <binding name="BasicHttpsBinding_IMailService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://i-mail.xcs.local/MailService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMailService" contract="i_MailService.IMailService"
                name="BasicHttpBinding_IMailService" />
            <endpoint address="https://i-mail.xcs.local/MailService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IMailService"
                contract="i_MailService.IMailService" name="BasicHttpsBinding_IMailService" />
        </client>
    </system.serviceModel>
</configuration>